################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################


slnx.sqlite
.suo
.vs/*
.vs/
/.vs/*
*v16/
v16/
/PE信息查看/studype_veryhuo.com
/x64dbg/x64dbg_2021-03-16_Chs/x64dbg
/流文件/streams/streams64a.exe
/流文件/streams/streams64.exe
/流文件/streams/streams.exe
/流文件/streams/Eula.txt
/窗口信息查看/Winformation.ini
/窗口信息查看/Winformation.exe
/SysinternalsSuite/Procmon64.exe
/SysinternalsSuite/winobj/WinObjEx64.exe
/SysinternalsSuite/winobj/WinObjEx64.chm
/SysinternalsSuite/winobj/plugins
/SysinternalsSuite/SysinternalsSuite/ZoomIt64.exe
/SysinternalsSuite/SysinternalsSuite/ZoomIt.exe
/SysinternalsSuite/SysinternalsSuite/Winobj64.exe
/SysinternalsSuite/SysinternalsSuite/Winobj.exe
/SysinternalsSuite/SysinternalsSuite/whois64.exe
/SysinternalsSuite/SysinternalsSuite/whois.exe
/SysinternalsSuite/SysinternalsSuite/Volumeid64.exe
/SysinternalsSuite/SysinternalsSuite/Volumeid.exe
/SysinternalsSuite/SysinternalsSuite/vmmap64.exe
/SysinternalsSuite/SysinternalsSuite/vmmap.exe
/SysinternalsSuite/SysinternalsSuite/Vmmap.chm
/SysinternalsSuite/SysinternalsSuite/Testlimit64.exe
/SysinternalsSuite/SysinternalsSuite/Testlimit.exe
/SysinternalsSuite/SysinternalsSuite/tcpview64.exe
/SysinternalsSuite/SysinternalsSuite/tcpview.exe
/SysinternalsSuite/SysinternalsSuite/tcpview.chm
/SysinternalsSuite/SysinternalsSuite/tcpvcon64.exe
/SysinternalsSuite/SysinternalsSuite/tcpvcon.exe
/SysinternalsSuite/SysinternalsSuite/Sysmon64.exe
/SysinternalsSuite/SysinternalsSuite/Sysmon.exe
/SysinternalsSuite/SysinternalsSuite/sync64.exe
/SysinternalsSuite/SysinternalsSuite/sync.exe
/SysinternalsSuite/SysinternalsSuite/strings64.exe
/SysinternalsSuite/SysinternalsSuite/strings.exe
/SysinternalsSuite/SysinternalsSuite/streams64.exe
/SysinternalsSuite/SysinternalsSuite/streams.exe
/SysinternalsSuite/SysinternalsSuite/sigcheck64.exe
/SysinternalsSuite/SysinternalsSuite/sigcheck.exe
/SysinternalsSuite/SysinternalsSuite/ShellRunas.exe
/SysinternalsSuite/SysinternalsSuite/ShareEnum64.exe
/SysinternalsSuite/SysinternalsSuite/ShareEnum.exe
/SysinternalsSuite/SysinternalsSuite/sdelete64.exe
/SysinternalsSuite/SysinternalsSuite/sdelete.exe
/SysinternalsSuite/SysinternalsSuite/ru64.exe
/SysinternalsSuite/SysinternalsSuite/ru.exe
/SysinternalsSuite/SysinternalsSuite/regjump.exe
/SysinternalsSuite/SysinternalsSuite/RegDelNull64.exe
/SysinternalsSuite/SysinternalsSuite/RegDelNull.exe
/SysinternalsSuite/SysinternalsSuite/readme.txt
/SysinternalsSuite/SysinternalsSuite/RDCMan.exe
/SysinternalsSuite/SysinternalsSuite/RAMMap.exe
/SysinternalsSuite/SysinternalsSuite/psversion.txt
/SysinternalsSuite/SysinternalsSuite/Pstools.chm
/SysinternalsSuite/SysinternalsSuite/pssuspend64.exe
/SysinternalsSuite/SysinternalsSuite/pssuspend.exe
/SysinternalsSuite/SysinternalsSuite/psshutdown64.exe
/SysinternalsSuite/SysinternalsSuite/psshutdown.exe
/SysinternalsSuite/SysinternalsSuite/PsService64.exe
/SysinternalsSuite/SysinternalsSuite/PsService.exe
/SysinternalsSuite/SysinternalsSuite/psping64.exe
/SysinternalsSuite/SysinternalsSuite/psping.exe
/SysinternalsSuite/SysinternalsSuite/pspasswd64.exe
/SysinternalsSuite/SysinternalsSuite/pspasswd.exe
/SysinternalsSuite/SysinternalsSuite/psloglist64.exe
/SysinternalsSuite/SysinternalsSuite/psloglist.exe
/SysinternalsSuite/SysinternalsSuite/PsLoggedon64.exe
/SysinternalsSuite/SysinternalsSuite/PsLoggedon.exe
/SysinternalsSuite/SysinternalsSuite/pslist64.exe
/SysinternalsSuite/SysinternalsSuite/pslist.exe
/SysinternalsSuite/SysinternalsSuite/pskill64.exe
/SysinternalsSuite/SysinternalsSuite/pskill.exe
/SysinternalsSuite/SysinternalsSuite/PsInfo64.exe
/SysinternalsSuite/SysinternalsSuite/PsInfo.exe
/SysinternalsSuite/SysinternalsSuite/PsGetsid64.exe
/SysinternalsSuite/SysinternalsSuite/PsGetsid.exe
/SysinternalsSuite/SysinternalsSuite/psfile64.exe
/SysinternalsSuite/SysinternalsSuite/psfile.exe
/SysinternalsSuite/SysinternalsSuite/PsExec64.exe
/SysinternalsSuite/SysinternalsSuite/PsExec.exe
/SysinternalsSuite/SysinternalsSuite/Procmon64.exe
/SysinternalsSuite/SysinternalsSuite/Procmon.exe
/SysinternalsSuite/SysinternalsSuite/procmon.chm
/SysinternalsSuite/SysinternalsSuite/procexp64.exe
/SysinternalsSuite/SysinternalsSuite/procexp.exe
/SysinternalsSuite/SysinternalsSuite/procexp.chm
/SysinternalsSuite/SysinternalsSuite/procdump64.exe
/SysinternalsSuite/SysinternalsSuite/procdump.exe
/SysinternalsSuite/SysinternalsSuite/PORTMSYS.SYS
/SysinternalsSuite/SysinternalsSuite/portmon.exe
/SysinternalsSuite/SysinternalsSuite/pipelist64.exe
/SysinternalsSuite/SysinternalsSuite/pipelist.exe
/SysinternalsSuite/SysinternalsSuite/pendmoves64.exe
/SysinternalsSuite/SysinternalsSuite/pendmoves.exe
/SysinternalsSuite/SysinternalsSuite/ntfsinfo64.exe
/SysinternalsSuite/SysinternalsSuite/ntfsinfo.exe
/SysinternalsSuite/SysinternalsSuite/notmyfaultc64.exe
/SysinternalsSuite/SysinternalsSuite/notmyfaultc.exe
/SysinternalsSuite/SysinternalsSuite/notmyfault64.exe
/SysinternalsSuite/SysinternalsSuite/notmyfault.exe
/SysinternalsSuite/SysinternalsSuite/movefile64.exe
/SysinternalsSuite/SysinternalsSuite/movefile.exe
/SysinternalsSuite/SysinternalsSuite/logonsessions64.exe
/SysinternalsSuite/SysinternalsSuite/logonsessions.exe
/SysinternalsSuite/SysinternalsSuite/LoadOrdC64.exe
/SysinternalsSuite/SysinternalsSuite/LoadOrdC.exe
/SysinternalsSuite/SysinternalsSuite/LoadOrd64.exe
/SysinternalsSuite/SysinternalsSuite/LoadOrd.exe
/SysinternalsSuite/SysinternalsSuite/livekd64.exe
/SysinternalsSuite/SysinternalsSuite/livekd.exe
/SysinternalsSuite/SysinternalsSuite/Listdlls64.exe
/SysinternalsSuite/SysinternalsSuite/Listdlls.exe
/SysinternalsSuite/SysinternalsSuite/ldmdump.exe
/SysinternalsSuite/SysinternalsSuite/junction64.exe
/SysinternalsSuite/SysinternalsSuite/junction.exe
/SysinternalsSuite/SysinternalsSuite/hex2dec64.exe
/SysinternalsSuite/SysinternalsSuite/hex2dec.exe
/SysinternalsSuite/SysinternalsSuite/handle64.exe
/SysinternalsSuite/SysinternalsSuite/handle.exe
/SysinternalsSuite/SysinternalsSuite/FindLinks64.exe
/SysinternalsSuite/SysinternalsSuite/FindLinks.exe
/SysinternalsSuite/SysinternalsSuite/Eula.txt
/SysinternalsSuite/SysinternalsSuite/efsdump.exe
/SysinternalsSuite/SysinternalsSuite/du64.exe
/SysinternalsSuite/SysinternalsSuite/du.exe
/SysinternalsSuite/SysinternalsSuite/DiskView64.exe
/SysinternalsSuite/SysinternalsSuite/DiskView.exe
/SysinternalsSuite/SysinternalsSuite/Diskmon64.exe
/SysinternalsSuite/SysinternalsSuite/Diskmon.exe
/SysinternalsSuite/SysinternalsSuite/diskext64.exe
/SysinternalsSuite/SysinternalsSuite/diskext.exe
/SysinternalsSuite/SysinternalsSuite/disk2vhd64.exe
/SysinternalsSuite/SysinternalsSuite/disk2vhd.exe
/SysinternalsSuite/SysinternalsSuite/Disk2vhd.chm
/SysinternalsSuite/SysinternalsSuite/Desktops64.exe
/SysinternalsSuite/SysinternalsSuite/Desktops.exe
/SysinternalsSuite/SysinternalsSuite/dbgview64.exe
/SysinternalsSuite/SysinternalsSuite/Dbgview.exe
/SysinternalsSuite/SysinternalsSuite/Dbgview.chm
/SysinternalsSuite/SysinternalsSuite/ctrl2cap.exe
/SysinternalsSuite/SysinternalsSuite/ctrl2cap.amd.sys
/SysinternalsSuite/SysinternalsSuite/CPUSTRES64.EXE
/SysinternalsSuite/SysinternalsSuite/CPUSTRES.EXE
/SysinternalsSuite/SysinternalsSuite/Coreinfo64.exe
/SysinternalsSuite/SysinternalsSuite/Coreinfo.exe
/SysinternalsSuite/SysinternalsSuite/Contig64.exe
/SysinternalsSuite/SysinternalsSuite/Contig.exe
/SysinternalsSuite/SysinternalsSuite/Clockres64.exe
/SysinternalsSuite/SysinternalsSuite/Clockres.exe
/SysinternalsSuite/SysinternalsSuite/Cacheset64.exe
/SysinternalsSuite/SysinternalsSuite/Cacheset.exe
/SysinternalsSuite/SysinternalsSuite/Bginfo64.exe
/SysinternalsSuite/SysinternalsSuite/Bginfo.exe
/SysinternalsSuite/SysinternalsSuite/autorunsc64.exe
/SysinternalsSuite/SysinternalsSuite/autorunsc.exe
/SysinternalsSuite/SysinternalsSuite/Autoruns64.exe
/SysinternalsSuite/SysinternalsSuite/Autoruns.exe
/SysinternalsSuite/SysinternalsSuite/autoruns.chm
/SysinternalsSuite/SysinternalsSuite/Autologon64.exe
/SysinternalsSuite/SysinternalsSuite/Autologon.exe
/SysinternalsSuite/SysinternalsSuite/adrestore64.exe
/SysinternalsSuite/SysinternalsSuite/adrestore.exe
/SysinternalsSuite/SysinternalsSuite/ADInsight64.exe
/SysinternalsSuite/SysinternalsSuite/ADInsight.exe
/SysinternalsSuite/SysinternalsSuite/ADInsight.chm
/SysinternalsSuite/SysinternalsSuite/ADExplorer64.exe
/SysinternalsSuite/SysinternalsSuite/ADExplorer.exe
/SysinternalsSuite/SysinternalsSuite/AdExplorer.chm
/SysinternalsSuite/SysinternalsSuite/AccessEnum.exe
/SysinternalsSuite/SysinternalsSuite/accesschk64.exe
/SysinternalsSuite/SysinternalsSuite/accesschk.exe
