################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################


slnx.sqlite
.suo
.vs/*
.vs/
/.vs/*
*v16/
v16/
/PE信息查看/studype_veryhuo.com
/x64dbg/x64dbg_2021-03-16_Chs/x64dbg
